@font-face {
    font-family: "LifeCraft";
    src: url(fonts/lifecraft.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

:root {
    scroll-behavior: smooth;
    background-color: #010101;
    color: white;
    background-image: url(img/background.png);
    --font-lifecraft: "LifeCraft", sans-serif;
    }

img {
    display: block;
    width: 100%;
}