#factions {
    display: flex;
    flex-direction: column;
}

#factions div {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.faction__title {
    font-family: var(--font-lifecraft), sans-serif;
    font-size: 42px;
}

#factions div img {
    width: 250px;
    height: 204px;
}