#header {
    position: fixed;
    width: 100%;
}

#navigation {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 147, 255);
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration: underline;
}

#header__title {
    text-align: center;
    font-family: var(--font-lifecraft), sans-serif;
}

#header-img {
    width: 150px;
    margin-right: 20px;;
}

#header__title {
    margin-bottom: 20px;
}

#submit {
    padding: 5px 10px;
}

#form {
    display: flex;
    justify-content: center;
}

@media (min-width: 550px) {
    #nav-bar {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}