#header {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

#navigation {
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#header__title {
    text-align: center;
    font-family: var(--font-lifecraft), sans-serif;
}

#header-img {
    width: 150px;
    margin-right: 20px;;
}